.header{
    &::after{
        content: "";
        position: absolute;
        inset:auto 0 0;
        height: 1px;
        background: var(--color-white-a08);
    }
    /* @apply after:content-[''] after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[1px] after:bg-white-a08; */
}