@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navbar-height: theme(spacing.12);
    --gutter: 30px;
    --background: 0 2 18;
    --white: 255 255 255;
    --accent-300: 103 63 215;
    --accent-500: 86 67 204;
    --accent-700: 69 94 181;
    --grey: 138, 143, 152;
  }
}

@layer components {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-shadow {
    text-shadow: rgb(0 0 0 / 0.56) 0px 3px 12px;
  }
}
